profiles {

    local {
        process.executor = 'local'
    }

    singularity {
        process.container = 'shub://tuvangezer/selfish'
        singularity.autoMounts = true
        singularity.enabled = true
    }

    docker {
        process.container = 'tuvan/selfish'
        docker.enabled = true
    }

}