profiles {

    local {
        process.executor = 'local'
    }

    pbs {
        process.executor = 'pbs'
        process.clusterOptions = '-l mem=40GB,nodes=1:ppn=1,walltime=1:30:00 -M hgezer@lji.org -m ae -j eo -V'
    }
    singularity {
        process.container = 'library://tuvan/default/selfish'
        singularity.autoMounts = true
        singularity.enabled = true
    }

    docker {
        process.container = 'aylab/selfish'
        docker.enabled = true
    }

}
